<!DOCTYPE html>
<html>
<% include ./partials/head %>

<body>
<% include ./partials/nav %>
<% for (var i = 0; i < this.title.length; i++) { %>
	<p class="nomp">James Fucking Bondo <%= title[i] %></p>
<% } %>


<script src="//localhost:35729/livereload.js"></script>
<% include ./partials/footer %>
</body>
<!-- jQuery library -->

</html>

